

.end-container{
    background-color: black;
    color: bisque;
    height: 500px;
    margin-top: 150px;
}

.footer{
    display: flex;
    gap: 300px;
    padding-left: 350px;
    padding-top:100px;
}

.input{
    padding-top: 40px;
   
}

.input input{
    color: white;
   
    font-size: 20px;
    background-color: black;
    border-color: white;
    padding: 20px;
    border-radius: 5%;
}

.butt{
    padding-top: 30px;
    
}

.butt h4{
    color:white;
    font-weight: 700;
    font-size: medium;
    padding: 10px;
    margin: 5px;
    background-color: blue;
    border-radius: 5%;
}

